
<launch>
  <node name="camera" pkg="cv_camera" type="cv_camera_node" output="log">
    <param name="device_id" value="2" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="rate" value="10" />

  </node>
<!--
  <node name="facedetect" pkg="oc_perception" type="dlib_id.py" output="screen"
    args="/home/ralf/HR/sophiasprint/catkin_ws/src/oc_perception/shape_predictor_68_face_landmarks.dat /home/ralf/HR/sophiasprint/catkin_ws/src/oc_perception/dlib_face_recognition_resnet_model_v1.dat">
  </node>
-->
</launch>
