<launch>
    <node name="face_detector" pkg="ros_people_model" type="run_face_detector.py" output="screen">
        <rosparam file="$(find ros_people_model)/config/face_detector_params.yaml" command="load"/>
    </node>

    <node name="frontal_face_detector" pkg="ros_people_model" type="run_frontal_face_detector.py" output="screen">
        <rosparam file="$(find ros_people_model)/config/frontal_face_detector_params.yaml" command="load"/>
    </node>

    <node name="emotion_recogniser" pkg="ros_people_model" type="run_emotion_recogniser.py" output="screen"/>
    <node name="eye_state_recogniser" pkg="ros_people_model" type="run_eye_state_recogniser.py" output="screen"/>
    <node name="face_id_recogniser" pkg="ros_people_model" type="run_face_id_recogniser.py" output="screen"/>
    <node name="face_landmarks_recogniser" pkg="ros_people_model" type="run_face_landmarks_recogniser.py" output="screen"/>

    <node name="model_people" pkg="ros_people_model" type="model_people.py" output="screen"/>
</launch>
