<launch>
<!--
  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera" />
  </node>
-->

  <node name="republish" type="republish" pkg="image_transport" 
   output="screen" args="compressed in:=/sophia17/perception/realsense/camera/color/image_raw raw out:=/camera/image_raw"/>


  <arg name="perception_fps" default="5.0"/>

  <arg name="face_detector_topic" default="/camera/image_raw"/>
  <arg name="face_detector_scale" default="0.5"/>
  <arg name="face_detector_padding" default="0.1"/>

  <arg name="frontal_face_detector_topic" default="/vis_dlib_cnn"/>
  <arg name="frontal_face_detector_scale" default="0.3"/>

  <arg name="run_face_landmarks" default="true"/>
  <arg name="run_face_id" default="true"/>
  <arg name="run_face_emotions" default="true"/>
  <arg name="run_eye_state" default="true"/>

  <node name="face_detector" pkg="ros_people_model" type="face_detector.py" output="screen">
      <param name="topic_name" value="$(arg face_detector_topic)"/>
      <param name="scale" value="$(arg face_detector_scale)"/>
      <param name="fps" value="$(arg perception_fps)"/>
      <param name="padding" value="$(arg face_detector_padding)"/>
  </node>

  <node name="frontal_face_detector" pkg="ros_people_model" type="frontal_face_detector.py" output="screen">
      <param name="topic_name" value="$(arg frontal_face_detector_topic)"/>
      <param name="scale" value="$(arg frontal_face_detector_scale)"/>
      <param name="fps" value="$(arg perception_fps)"/>

      <param name="run_face_landmarks" value="$(arg run_face_landmarks)"/>
      <param name="run_face_id" value="$(arg run_face_id)"/>
      <param name="run_face_emotions" value="$(arg run_face_emotions)"/>
      <param name="run_eye_state" value="$(arg run_eye_state)"/>
  </node>

  <node name="emotion_recogniser" pkg="ros_people_model" type="emotion_recogniser.py" output="screen"/>
  <node name="eye_state_recogniser" pkg="ros_people_model" type="eye_state_recogniser.py" output="screen"/>
  <node name="face_id_recogniser" pkg="ros_people_model" type="face_id_recogniser.py" output="screen"/>
  <node name="face_landmarks_recogniser" pkg="ros_people_model" type="face_landmarks_recogniser.py" output="screen"/>

<!--  <node name="fer_triggers" pkg="ros_people_model" type="fer_triggers.py" output="screen"/>-->

<!--
    <node name="model_people" pkg="ros_people_model" type="model_people.py" output="screen">
        <param name="fps" value="$(arg perception_fps)"/>
    </node>
-->

</launch>
